body{
	background: #FFF url("../image/bg.png");
	font-size: 13px;
}

div.container {
	max-width: none !important;
	width: 990px !important;
}
div.alert {
	width: 960px;
	margin: 0 auto;
}

a {
	color: #714842;
	outline: none !important;
}
a:hover{
	color: #edb84f;
}

.mark-new {
	display: inline-block;
	width: 24px;
	height: 12px;
	background: transparent url("../image/new.gif") no-repeat top center;
}
.text-upper {
	text-transform: uppercase;
}
.text-bold {
	font-weight: bold;
}
.text-left {
	text-align: left !important;
}

.btn {
	border-radius: 0px !important;

}
.btn-xs {
	font-size: 11px !important;
	padding: 2px 10px !important; 
}

.innerL {
	padding-left: 10px;
}
.innerR {
	padding-right: 10px;
}
.innerT {
	padding-top: 10px;
}
.innerB {
	padding-bottom: 10px;
}
.innerAll {
	padding: 10px;
}
.innerL.inner-2x {
	padding-left: 20px;
}
.innerR.inner-2x  {
	padding-right: 20px;
}
.innerT.inner-2x  {
	padding-top: 20px;
}
.innerB.inner-2x  {
	padding-bottom: 20px;
}
.innerAll.inner-2x  {
	padding: 20px;
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #d03b07;
	border-color: #802420;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #d03b07;
}
.btn-primary,.btn-main, .btn-default, .btn-danger, .btn-info {
    padding: 5px 10px;
}
.btn-primary,.btn-main {
    background-color: #822601;
    background-image: linear-gradient(to bottom, #d03b07, #822601);
    background-repeat: repeat-x;
    border-color: #822601 #822601 #802420;
    color: #ffffff;
    font-weight: bold;
}
.btn-primary.btn-sm,.btn-main.btn-sm {
	padding: 3px 8px;
	font-size: 12px;
}
.btn-primary:hover,.btn-main:hover{
	color: #FFF;
	background-color: #360700;
    background-image: linear-gradient(to bottom, #d03b07, #360700);
    background-repeat: repeat-x;
    border-color: #360700 #360700 #802420;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
	background-color: #df5c39;
	border-color: #df5c39;
}
.btn-info.btn-sm {
	font-size: 13px;
	padding: 4px 8px;
}

.break {
	background-image: url(../image/break.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 22px;
	margin-left: 16px;
}

.line {
	height: 1px;
	border-bottom: 1px solid #802420;
	padding: 2px 0px;
	margin-bottom: 10px;
}

.panel.panel-flat {
	border: none;
	box-shadow: none;
}
.panel.panel-flat .panel-heading {
	color: #333;
	background-color: transparent;
	border: none;
	padding: 0px;
	border-radius: 0px;
}
.panel.panel-flat .panel-body {
	padding: 0px;
}
.breadcrumb {
	display: none;
}
.heading-title {	
	text-transform: uppercase;
	color: #900;
	text-align: center;
	margin: 0;
	font-weight: bold;
}
h2.heading-title {
	font-size: 25px;
}
h3.heading-title {
	font-size: 20px;
	text-transform: capitalize;
}

.buttons {
	overflow: hidden;
	border-top: 1px solid #F0F0F0;
	padding-top: 10px;
}
.price {
	color: #BE3D0B;
	font-size: 16px;
}

/* START HEADER */
header {
}
header .header-logo {
	height: 135px;
	text-align: center;
	background: #000 url(../image/banner.png) no-repeat 0 10px;
	padding-top: 35px;
	position: relative;
}

header #logo {
	text-decoration: none;
	outline: none;
}

header #menu {
	border-radius: 0px;	
	background-color: #BE3D0B;
    background-image: linear-gradient(to bottom, #BE3D0B, #BE3D0B);
    background-repeat: repeat-x;
    border-color:  transparent;    
    margin-bottom: 0px;
}

header #menu a.icon-home-sm {
	background: transparent url('../image/logo_sm.png') no-repeat center;
	height: 42px;
	width: 50px;
	line-height: 0px;
	border-right: 1px solid #EF6F3E;
}

#menu .nav > li > a {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	white-space: nowrap;
}

#menu ul.dropdown-menu li a:hover {
	color: #FFF;
	background-color: #edb84f;
	background-image: linear-gradient(to bottom, #edb84f, #edb84f);
}

#topbar {
	position: absolute;
	top: 0px; right: 0px;
	left: 0px; height: 28px;
	background-color: #F3D89C;
	text-align: right;
	border-bottom: 1px solid rgb(229, 176, 57);
}
#topbar ul {
	list-style: none;
	margin: 0px;
	padding: 0px 10px;
}
#topbar ul li {
	display: inline-block;
	margin: 3px 5px;
}
#topbar .login-btns.open .dropdown-toggle  {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#topbar .login-btns ul.dropdown-menu {
	border-radius: 0px;
	padding: 10px;
}
#topbar .login-btns ul.dropdown-menu li {
	display: block;
}
#topbar .login-btns ul.dropdown-menu li a {
	color: #FFF;
}

#topbar .login-btns ul.dropdown-menu li a:hover {
	color: #FFF;
	background-color: #360700;
	background-image: linear-gradient(to bottom, #d03b07, #360700);
	background-repeat: repeat-x;
	border-color: #360700 #360700 #802420;
}
#topbar .affiliate-label {
	float: left;
	margin: 5px;
	font-size: 16px;
	font-weight: bold;
	margin-left: 28px;
	text-transform: uppercase;
	color: #DB6108;
}

/*END HEADER*/

/* START FOOTER */
footer {
	background: #000 url("../image/footer_bg.jpg") repeat-x top center;
	color: #DDB780;
	margin-top: 0px;
}
footer .footer-info, footer .vistor-statistics {
	text-align: center;	
}
footer .footer-info {
	margin-bottom: 15px;
}
footer p {
	margin: 0;	
}
.footer-menu {	
	text-align: center;
	margin-bottom: 23px;
}
.footer-menu ul.menu {	
}
.footer-menu ul.menu li {
	display: inline-block;
}
.footer-menu ul.menu li a {
	display: block;
	padding: 3px 5px;
	color: #A9A580;
	font-weight: bold;
	white-space: normal;
	font-size: 14px;
	font-weight: bold;
	margin: 0px 5px;
}
.footer-menu ul.menu li a:hover {
	color: #FFF;
}
.footer-ship {
	margin-bottom: 10px;
	line-height: 16px;
	text-align: justify;
}
/* END FOOTER */

/* START CONTENT */
#content{	
}
#content-up {
	background: transparent url("../image/main-up.jpg") no-repeat top center;
    height: 60px;
    width: 100%;
}
#content-down {
	background: transparent url("../image/main-down.jpg") no-repeat top center;
    height: 60px;
    width: 100%;
}
#content-mid {
	background: transparent url("../image/main-mid.jpg") repeat-y top center;
    width: 100%;
    padding: 10px 70px;
}
/* END CONTENT */

/* COMMON HOME */
.common-home {
}
.common-home .owl-carousel {
	border-radius: 0px;
	border: none;
	box-shadow: none;
	background-color: transparent;
	margin-bottom: 15px;
}
.common-home .owl-carousel .owl-pagination {
	top: 10px;
}

#order-ad {
	height: 40px;
	background: transparent url("../image/line.jpg") repeat-x 0 center;
	position: relative;
}
#order-ad .text-ad {
	font-size: 15px;
	font-weight: bold;
    left: 100px;
    padding-top: 10px;
    position: absolute;
    right: 200px;
    text-align: center;
    color: #3d1305;
}
#order-ad .btn-main {
	position: absolute;
}
#order-ad #link-qa {
	left: 15px;
	top: 5px;
}
#order-ad #link-ordernow {
	right: 15px;
	top: 5px;
}

#welcome {	
}
#welcome .welcome-slogan {	
	background: transparent url("../image/welcome.jpg") no-repeat top center;
	height: 35px;
	margin-bottom: 20px;
}
#welcome .welcom-text {
	font-size: 15px;
	text-align: justify;
}

.home-topic .topic-title {
	display: inline-block;
	padding: 3px 0px;
	font-size: 14px;
	height: 40px;
	overflow: hidden;
}
.home-topic .topic-img {
	width: 100%;
}
.home-topic .topic-content {
	height: 130px;
	overflow: hidden;
	margin-bottom: 5px;
	font-size: 14px;
}
.home-topic .topic-content ul > li {
	background: transparent url("../image/icon-category.gif") no-repeat 0 50%;
	padding: 2px 0px 2px 15px;
	line-height: 18px;
}
.home-topic .topic-content ul > li > a{
	font-size: 13px;
}

#carousel-product-list {	
}
#carousel-product-list .product-item .product-image img {	
	border: 1px solid #DDD;
	padding: 5px;
	width: 100px;
	height: 100px;
}
#carousel-product-list .product-item .separator {
	background: transparent url("../image/p-separator.png") no-repeat top center;
	height: 20px;
	width: 100px;
	margin-top: 5px;
}
#carousel-product-list .product-item .product-price {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	width: 100px;
	padding: 5px;
	background-color: rgb(247, 204, 125);
}

/* START PRODUCT LIST*/
.product-list {
    overflow: hidden;
    margin: 0px auto;
}
.product-list .product-item {
    width: 192px;
    height: 300px;
    margin: 5px;
    float: left;
    border: 1px solid #F0F0F0;
    text-align: center;
    position: relative;
}
.product-list .product-item .image {
    padding: 10px;
}

.product-list .product-item .caption {
}
.product-list .product-item .caption h4.product-heading {
	margin: 0px;
	font-weight: bold;
	max-height: 35px;
	overflow: hidden;
}
.product-list .product-item .price {
    margin: 8px 0px;	
    font-size: 14px;
    font-weight: normal;
    color: red;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
}
.product-list .product-item .price .price-new {
	font-weight: bold;
}
.product-list .product-item .price .price-old {
	text-decoration: line-through;
	font-size: 12px;
	font-weight: normal;
}

.product-list .product-item .actions {
    position: absolute;
    bottom: 10px;
    left: 0px;
    right: 0px;
}
.product-shopping-cart {
	padding: 10px;
	border: 1px solid #F0F0F0;
}

/* END PRODUCT LIST */
/* START CONTENT LIST */
.news-description img {
	max-width: 100%;
}
.news-description table {
	width: 100% !important;
}
.news-featured {
	overflow: hidden;
}
.news-featured .news-item {
    float: left;	
    width: 230px;
    margin: 20px;
}
.news-featured .news-item img {
    width: 230px;	
}
.news-featured .news-item .news-title {
    display: block;
}

ul.content-list {
	overflow: hidden;
	list-style: none;
	padding: 0px;
	margin-left: 5px;
}
ul.content-list li {
	display: block;
	width: 375px;
	float: left;
	background: transparent url("../image/icon-category.gif") no-repeat 0 50%;
	padding: 5px 0px 5px 18px;
	margin: 0px 15px;
}
ul.content-list li a {
	font-weight: bold;
}
/* END CONTENT LIST */